<div class="row">
	<div class="col-md-8" id="block">
		<div class="col-md-6">
			<button type="button" class="btn btn-default" ng-click="searchCardbyClasse(readCookie('classe'))">{{readCookie('classe')}}</button>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-default ">Neutre</button>
		</div>
		<div class="col-md-4">
			<img class="img-responsive" id="carte" ng-src="{{un}}" alt="Carte">
		</div>
		<div class="col-md-4">
			<img class="img-responsive" id="carte" ng-src="{{deux}}" alt="Carte">
		</div>
		<div class="col-md-4">
			<img class="img-responsive" id="carte" ng-src="{{trois}}" alt="Carte">
		</div>
		<div class="col-md-4">
			<img class="img-responsive" id="carte" ng-src="{{quatre}}" alt="Carte">
		</div>
		<div class="col-md-4">
			<img class="img-responsive" id="carte" ng-src="{{cinq}}" alt="Carte">
		</div>
		<div class="col-md-4">
			<img class="img-responsive" id="carte" ng-src="{{six}}"" alt="Carte">
		</div>
		<div class="jumbotron">
			<div class="col-md-12">
				<div class="col-md-6">
					<button type="button" class="btn btn-default glyphicon glyphicon-chevron-left"></button>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-default glyphicon glyphicon-chevron-right" id="chevron"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4" id="block">
		<table class="table table-striped">
			<thead>
				<tr>
				  <th>Nom</th>
				  <th>Mana</th>
				  <th>Nombre</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				  <td>Aile de mort</td>
				  <td>12</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Horreb</td>
				  <td>5</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr><tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr><tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr><tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
				<tr>
				  <td>Ysera</td>
				  <td>9</td>
				  <td>1</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-4" id="block">
				<p>Serviteurs:3</p>
			</div>
			<div class="col-md-4" id="block">
				<p>Sorts:</p>
			</div>
			<div class="col-md-4" id="block">
				<p>Armes:</p>
			</div>
		</div>
	</div>
</div>
