<div class="row">

</div>
<br>
<br>
<br>
<div class="jumbotron" id="deckbuilder">
	<div class="row">
		<div class="col-md-4" id="ligne12">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Warrior',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/guerrier.gif" alt="Guerrier"></a>
		</div>
		<div class="col-md-4" id="ligne12">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Shaman',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/chaman.gif" alt="Chaman"></a>
		</div>
		<div class="col-md-4" id="ligne12">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Rogue',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/voleur.gif" alt="Voleur"></a>
		</div>
		<div class="col-md-4" id="ligne12">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Paladin',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/paladin.gif" alt="Paladin"></a>
		</div>
		<div class="col-md-4" id="ligne12">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Hunter',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/chasseur.gif" alt="Chasseur"></a>
		</div>
		<div class="col-md-4" id="ligne12">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Druid',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/druide.gif" alt="Druide"></a>
		</div>
		<div class="col-md-4" id="ligne3">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Warlock',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/demoniste.gif" alt="Demoniste"></a>
		</div>
		<div class="col-md-4" id="ligne3">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Mage',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/mage.gif" alt="Mage"></a>
		</div>
		<div class="col-md-4" id="ligne3">
			<a href="#/classeDeckBuilder" type="button" class="btn" ng-click="createCookie('classe','Priest',1)"><img class="img-responsive" src="images/deckBuilder/goldenClasse/pretre.gif" alt="Prêtre"></a>
		</div>
	</div>
</div>
