<div class="jumbotron">
	<div class="row">
      <div class="col-md-6" id="block">
		<br>
		<p id="lead">Standard</p>
        <img class="img-responsive" ng-src="{{normale}}" alt="Carte" id="carteA">
      </div>
      <div class="col-md-6" id="block">
		<br>
		<p id="lead">Golden</p>
		<img class="img-responsive" ng-src="{{doree}}" alt="Carte dorée" id="carteA">
      </div>
    </div>
	<div class="row">
	
	
		<div class="col-md-12" id="block">
			<p>Search by:</p>
			<div class="col-md-2">
				<p id="cc">Name</p>
			</div>
			<div class="col-md-8" id="block">
				<input ng-model="champ" type="search" class="input-sm form-control" placeholder="Card name (in english)">
			</div>
			<div class="col-md-2" id="block">
					<button type="button" class="label label-success" id="bCarte" ng-click="searchCardbyName(champ)" data-toggle="modal" data-target="#myModal"><h2 id="filtre">OK</h2></button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Results</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
			</div>			
			
			<div class="col-md-2">
				<p id="cc">Rarity</p>
			</div>
			<div class="col-md-10" id="block">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<!-- Carte gratuites -->
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" ng-click="searchCardByRarity('Free')" data-toggle="modal" data-target="#myModal"><img class="img-responsive" id="boule" src="images/rarity/base.png" alt="base"></button>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">base cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
						</div>
					</div>
					
					<!-- Carte Communes -->
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" ng-click="searchCardByRarity('Common')" data-toggle="modal" data-target="#myModal"><img class="img-responsive" id="boule" src="images/rarity/commune.png" alt="commune"></button>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Common cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
						</div>
					</div>
					
					<!-- Carte Rares -->
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" ng-click="searchCardByRarity('Rare')" data-toggle="modal" data-target="#myModal"><img class="img-responsive" id="boule" src="images/rarity/rare.png" alt="rare"></button>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Rare cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
						</div>
					</div>
					
					<!-- Carte Epiques -->
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" ng-click="searchCardByRarity('Epic')" data-toggle="modal" data-target="#myModal"><img class="img-responsive" id="boule" src="images/rarity/epique.png" alt="epique"></button>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Epic cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
						</div>
					</div>
					
					<!-- Carte Legendaires -->
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" ng-click="searchCardByRarity('Legendary')" data-toggle="modal" data-target="#myModal"><img class="img-responsive" id="boule" src="images/rarity/legendaire.png" alt="legendaire"></button>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Legendary cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
						</div>
					</div>				
				</div>
			</div>
			
			
			
			
			
			<div class="col-md-2">
				<p id="cc">Extension</p>
			</div>
			<div class="col-md-10" id="block">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
				
				<!-- recherche pour Jeu de base -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardBySet('Classic')" data-toggle="modal" data-target="#myModal">Standard</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Base cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				
				<!-- recherche pour Naxxramas -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardBySet('Naxxramas')" data-toggle="modal" data-target="#myModal">Naxx</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Naxxramas cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  
				<!-- recherche pour Goblins vs Gnomes -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardBySet('Goblins%20vs%20Gnomes')" data-toggle="modal" data-target="#myModal">GVG</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Goblins vs Gnomes cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  
				<!-- recherche pour Mont Rochenoir -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardBySet('Blackrock%20Mountain')" data-toggle="modal" data-target="#myModal">BRM</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Black rock mountain cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  
				<!-- recherche pour Le grand Tournois -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardBySet('The%20Grand%20Tournament')" data-toggle="modal" data-target="#myModal">TGT</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">The grand tournament cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  
				<!-- recherche pour Ligue des explorateurs -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardBySet('The%20League%20of%20Explorers')" data-toggle="modal" data-target="#myModal">LOE</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">League of explorers cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				</div>
			</div>
			
			
			
			
			<div class="col-md-2">
				<p id="cc">Classes</p>
			</div>			
			<div class="col-md-10" id="block">
				<div class="btn-group btn-group-justified" role="group" aria-label="..." id="vertical">
				
				<!-- recherche pour classe neutre -->
				  <div class="btn-group" role="group">	  
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Neutral')" data-toggle="modal" data-target="#myModal">Neutral</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Neutral cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Mage -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Mage')" data-toggle="modal" data-target="#myModal">Mage</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Mage cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Chaman -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Shaman')" data-toggle="modal" data-target="#myModal">Shaman</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Shaman cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Chasseur -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Hunter')" data-toggle="modal" data-target="#myModal">Hunter</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Hunter cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Guerrier -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Warrior')" data-toggle="modal" data-target="#myModal">Warrior</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Warrior cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Prêtre -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Priest')" data-toggle="modal" data-target="#myModal">Priest</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Priest cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Voleur -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Rogue')" data-toggle="modal" data-target="#myModal">Rogue</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Rogue cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Demoniste -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Warlock')" data-toggle="modal" data-target="#myModal">Warlock</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Warlock cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Druide -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Druid')" data-toggle="modal" data-target="#myModal">Druid</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Druid cards</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				  <!-- recherche pour classe Paladin -->
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="searchCardbyClasse('Paladin')" data-toggle="modal" data-target="#myModal">Paladin</button>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Paladin card</h4>
							  </div>
							  <!-- mettre la liste des cartes -->
							  <div ng-repeat="card in currentCard">
								<button type="button" class="btn btn-default" ng-click="replace(card.img,card.imgGold)">{{card.name}}</button>
							  </div>
							</div>
						  </div>
					</div>
				  </div>
				</div>
			</div>				
		</div>
	</div>
</div>