<link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/>

<script src="scripts/jquery.js" type="text/javascript"></script><!-- Insertion de la bibliotheque jQuery -->

<script type="text/javascript" src="scripts/localscroll/jquery.localscroll.js"></script>
<script type="text/javascript" src="scripts/localscroll/jquery.scrollTo.js"></script>
 
<script type="text/javascript" src="scripts/lancement.js"></script><!-- permet le lancement de la fonction de scroll -->

<div class="jumbotron">
	<p class="lead" ><b>Naxxramas Hearthstone : le guide complet de l&acuteextension</b></p>
	<i><a href="http://www.hearthstone-decks.com/naxxramas" target="_blank">Article original</a> r&eacutedig&eacute par <a href="https://twitter.com/Zecharia_HS" target="_blank">Zecharia</a></i>
</div>

<br><br><br>

<div class="jumbotron">
	<p>La <b>Mal&eacutediction de Naxxramas</b> est la premi&egravere aventure Hearthstone. 
	Il s&acuteagit d&acuteun mode de jeu PVE dans lequel vous affrontez des boss contr&ocircl&eacutes par l&acuteordinateur. Naxxramas sort officiellement
	le <b>23 juillet 2014</b>. L&acuteextension compte <b>15 boss</b> et permet d&acuteobtenir <b>30 nouvelles cartes</b>. Prix, guide des boss et mode d&eacutefi, retrouvez
	toutes les informations indispensables dans notre <b>guide complet</b>.</p>
</div>	

<br><br><br>

<div class="jumbotron">	
	<p class="lead1">Sommaire</p>
	<li><a href="#struc" id="liennaxx">Structure et prix des quartiers</a></li>
	<li><a href="#quartier" id="liennaxx">Quartiers et boss</a></li>
	<li><a href="#newcards" id="liennaxx">Nouvelles cartes</a></li>
	<li><a href="#defis" id="liennaxx">D&eacutefis de classe</a></li>
</div>
<br><br><br>

<div class="jumbotron">
	<div id="struc"></div>
	<p class="lead" ><b>Structure et prix des quartiers</b></p>
	<p>La Mal&eacutediction de Naxxramas est divis&eacute en cinq quartiers. Chacun d&acuteentre eux co&ucircte <b>700 pi&egraveces d&acuteor ou 5,99&#128</b>.
	Si vous utilisez de l&acuteargent r&eacuteel, vous pouvez &eacutegalement acheter des packs vous permettant d&acuteacc&eacuteder &agrave un ou plusieurs 
	quartiers pour un prix moins &eacutelev&eacute. Durant le mois qui suivra la sortie de Naxxramas, le <b>premier quartier</b> (le Quartier
	des Arachnides) sera <b>disponible gratuitement</b>. Retrouvez ci-dessous un tableau complet avec les prix des quartiers de 
	Naxxramas.</p>
	<img class="img-responsive" src="images/Aventures/prix.png" alt="Prix">
	<i>Les prix officiels des quartiers de Naxxramas</i>
</div>
<br><br><br>

<div class="jumbotron">
	<div id="quartier"></div>
	<p class="lead" ><b>Quartiers et boss</b></p>
	<p>Dans Naxxramas, vous affrontez <b>15 boss r&eacutepartis dans 5 quartiers diff&eacuterents</b>. Chaque boss est contr&ocircl&eacute par
	l&acuteordinateur et dispose de cartes et d&acuteun pouvoir h&eacutero&iumlque qui lui sont propres. Une fois que vous aurez vaincu
	tous les boss d&acuteun quartier pour la premi&egravere fois, vous d&eacutebloquerez la <b>version h&eacutero&iumlque</b> de cette aile. Vaincre
	tous les boss de Naxxramas en mode h&eacutero&iumlque vous octroiera un <b>dos de carte unique !</b> Retrouvez la liste des ailes et
	des 15 boss de Naxxramas ci-dessous.</p>
	<img class="img-responsive" src="images/Aventures/arachnide.png" alt="aile1">
	<img class="img-responsive" src="images/Aventures/peste.png" alt="aile2">
	<img class="img-responsive" src="images/Aventures/militaire.png" alt="aile3">
	<img class="img-responsive" src="images/Aventures/assemblages.png" alt="aile4">
	<img class="img-responsive" src="images/Aventures/wyrm.png" alt="aile5">
</div>
<br><br><br>

<div class="jumbotron">
	<div id="newcards"></div>
	<p class="lead" ><b>Nouvelles cartes</b></p>
	<p class="lead1">Nouveau dos de carte</p>
	<p>Un nouveau dos de carte fait son apparition dans Naxxramas. Pour l&acuteobtenir, vous devrez battre tous les boss de l&acuteaventure en mode h&eacutero&iumlque.
	Dos de carte Hearthstone - Naxxramas en mode h&eacutero&iumlque.</p>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Naxxramas.gif" alt="Naxxramas"></img>
			<i>Naxxramas</i>
			</div>
		<div class="col-md-6">
			<img class="img-responsive" src="http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Naxxramas2.gif" alt="Naxxramas h&eacutero&iumlque"></img>
			<i>Finir Naxxramas en mode h&eacutero&iumlque</i>
		</div>
	</div>
	<p class="lead1">Les 30 nouvelles cartes</p>
	<p>Naxxramas apporte 30 nouvelles cartes, dont 15 serviteurs neutres non l&eacutegendaires, 6 cartes l&eacutegendaires ainsi
	que 9 cartes de classe. Retrouvez-les dans notre <b>collection de cartes Naxxramas</b>.</p>
	<a href="#/cartes" type="button" class="btn"><img class="img-responsive" src="images/Aventures/carte.png" alt="cartes"></a>
</div>
<br><br><br>

<div class="jumbotron">
	<div id="defis"></div>
	<p class="lead" ><b>D&eacutefis de classe</b></p>
	<p>Les d&eacutefis de classe vous proposent d&acuteaffronter les boss de Naxxramas avec des <b>decks pr&eacuted&eacutefinis</b>.
	Chaque classe doit affronter un boss diff&eacuterent pour remporter l&acuteune des <b>9 cartes de classe</b> de Naxxramas. 
	Ils sont r&eacuteserv&eacutes aux joueurs ayant d&eacutej&agrave vaincu tous les boss et pr&eacutesentent une difficult&eacute plus importante. 
	D&eacutecouvrez comment triompher de ces d&eacutefis gr&acircce aux diff&eacuterents guides ci-dessous.</p>
	<img class="img-responsive" src="images/Aventures/classe.png" alt="classe">
</div>
<br><br><br>